[2018-08-02 14:53] abrodkin opened #5 "U-Boot: tftpboot doesn't load the second file"
The simplest example - load uImage and .dtb from TFTP server.
uImage gets loaded perfectly fine while .dtb transfer doesn't even start:
[code]

I can reproduce that on both HSDK and AXS103 with U-Boot 2018.07

[2018-08-02 15:20] NikitaSobolev opened #6 "uClibcng-test-suite FAILs"
'''
FAIL tst-cancel16 got 1 expected 0
        thread not canceled
FAIL tst-cancel4 got 1 expected 0
        in-time cancel test of 'read' successful
        ...
        in-time cancel test of 'recvmsg' successful
        in-time cancel test of 'msgrcv' successful
        early cancel test of 'read' successful
        ...
        early cancel test of 'recvfrom' successful
        early cancel test

[2019-02-07 13:51] abrodkin opened #7 "Unaligned access by llockd in ext4_delete_entry()"
Boot log:
[code]

Disassembly of problematic code:
[code]

Note this kernel version (v4.19.14 as well as latest in 4.19.y series v4.19.20) doesn't have my patch that fixes Etnaviv GPU, see https://github.com/torvalds/linux/commit/a66d972465d15b1d89281258805eb8b47d66bd36.

[2019-02-07 14:24] abrodkin commented on #7
Hm with vanilla Linux  v4.19.19 and initramfs I cannot reproduce that problem.

[2019-02-07 14:55] abrodkin commented on #7
Mentioned https://github.com/torvalds/linux/commit/a66d972465d15b1d89281258805eb8b47d66bd36 made no difference. Which means this is not statically allocated `atomic64_t` and we need to look into it now.

[2019-02-07 20:05] vineetgarc commented on #7
Do note that LLOCKD by default needs data to be 64-bit aligned. I'm checking with hw folks if that restriction holds true even AD is enabled.

[2019-02-07 20:31] vineetgarc commented on #7
Both LLOCK and EX transactions need to be aligned regardless of the AD bit, i.e.:
LLOCK:   32-bit aligned
LLOCKD: 64-bit aligned

[2019-02-07 20:31] vineetgarc commented on #7
In ur case above, r6 is 0xbeaec3fc so it is not 64-bit aligned !

[2019-02-08 06:24] abrodkin commented on #7
@vineetgarc we already knew all that since [1](http://lists.infradead.org/pipermail/linux-snps-arc/2018-July/004009.html) which ended-up with https://github.com/torvalds/linux/commit/a66d972465d15b1d89281258805eb8b47d66bd36.

So reason for "Misaligned Access" is clear, what's not clear is:
 1.* Which `atomic64_t` causes this new failure
 2. How to solve this once (1) above is done

Unfortunately m

[2019-02-08 09:21] abrodkin commented on #7
So problematic atomic is `inode->i_version`, see https://elixir.bootlin.com/linux/v4.19.14/source/include/linux/fs.h#L656

And failure happens in `atomic64_cmpxchg()`, see https://elixir.bootlin.com/linux/v4.19.14/source/include/linux/iversion.h#L198

[code]

What's worse obvious "fix" doesn't help:
[code]

We still get:
[code]

[2019-02-08 10:57] abrodkin commented on #7
The culprit was in slab allocator used for inodes.
Even though default `ARCH_SLAB_MINALIGN` is set in quite a sensible way:
[code]
see https://elixir.bootlin.com/linux/latest/source/include/linux/slab.h#L213

The problem in case of ARC is `__alignof__(unsigned long long)` = 4!

And then solution is as simple as to define `ARCH_SLAB_MINALIGN` = 8 for us, see http://lists.infradead.org/pipermail/lin

[2019-02-08 10:57] #7 closed

[2019-04-18 16:32] vineetgarc opened #8 "[linux perf] Implement L2 cache perf counters"
The L2 cache perf counting is orthogonal to way we do normal cpu counters and thus may require a different driver !

[2019-04-18 16:32] vineetgarc commented on #8
I can't seem to find EugeniyP in the members !

[2019-04-18 16:35] abrodkin commented on #8
@vineetgarc you wanted to select one @Palmyr3 :)

[2019-05-16 16:51] Palmyr3 opened #9 "kernel modules can't be loaded if build with 2019.03-rc1 toolchain"
If we build kernel with 2019.03-rc1 toolchain we get errors on modules loading.

I.E:
[code]

Everything works fine with previous toolchain (2018.09).
This issue can be reproduced on different versions of kernel (I've tried 4.19.9, 4.20)

[2019-05-16 17:02] Palmyr3 commented on #9
CC @vineetgarc

[2019-05-16 17:25] Palmyr3 commented on #9
BTW, it's enough to build only modules with 2019.03-rc1 toolchain to reproduce this issue.
(I.E. build modules with 2019.03-rc1, build the rest of the kernel with 2018.09)

[2019-05-18 20:57] Palmyr3 commented on #9
Ok, it's new `R_ARC_S8H_PCREL` type of relocation.
We need to add support of this relocation type to the our module.c

[2019-05-22 19:27] claziss commented on #9
No need to do such an operation for the time being. The following relocs have being introduced to support linker-time relaxation:

Enum  | ELF Reloc Type       | Description                 | Details
---  | ------------------  | ---------------            | -----------
80    | R_ARC_S9H_PCREL      | PC-relative                 | bits9 = ME ( ( ( ( S + A ) - P ) >> 1 ) ) )
81    | R_ARC_S7H_PCREL

[2019-05-24 19:08] vineetgarc opened #10 "make headers_install broken in v5.1 final"
userspace toolchain build requires kernel headers to be installed. This step didn't need the cross compiler (as it would not exist given we were building the toolchain). However as of  v5.1 kernel this needs CROSS_COMPILER to be passed (v5.1-rc1) is OK. This needs to be tracked down and reported upstream.

[2019-05-24 19:09] vineetgarc commented on #10
@abrodkin can someone in the group track this down !

[2019-05-24 19:11] abrodkin commented on #10
@EvgeniiDidin could you please take a look at this?

[2019-05-24 19:45] abrodkin commented on #10
@vineetgarc may we have more details on what is really broken and how to reproduce this problem?

I don't see any significant problems so far:
[code]

[2019-05-24 20:12] vineetgarc commented on #10
what kernel version is this ?

[2019-05-24 20:14] abrodkin commented on #10
[code]
[code]

[2019-05-27 19:07] Palmyr3 commented on #9
Kernel nodules loading works fine if we build modules with 2019.03-rc2 toolchain.

[2019-05-27 19:09] #9 closed

[2019-05-28 13:08] abrodkin opened #11 "Glibc test-suite hangs in the middle"
All cores seem to start executing garbage and eventually hit `instr_service` which on ARC's parlance means attempt to execute illegal instruction.

Below are logs from failed ARCJenkins job `glibc_verification/267`.

 * Zipped (so that GitHub accepts it) vmlinux that was used:
[vmlinux_glibc_failed_#267.zip](https://github.com/foss-for-synopsys-dwc-arc-processors/linux/files/3227723/vmlinux_glibc_

[2019-05-28 13:27] abrodkin commented on #11
For example let's take a look at core #3.
1. SmaRT trace says:
[code]

2. Disassembly of `instr_service`, take a look at address 0x90723b5c (the "oldest" instruction from the core's SmaRT trace):
[code]

3. And that's a contents of instruction cache of core #3:
[code]

Note that **what** we have at address 0x90723b5c: `90723b5c: b24820fc`.
Funny enough on core #1 we see the same bogus instruction:

[2019-05-28 13:48] abrodkin commented on #11
That's the same cache line seen by 3 different cores, note:
1. Cores 1 & 3 have exactly the same still wrong values.
2. Only bits 15-8 of cores 1 & 3 are wrong, all the rest match core 2 which matches original disassembly.
[code]

And now the funniest part, see how those bits 15-8 of that cache line correspond to each other:
[code]

[2019-05-30 19:09] vineetgarc commented on #10
Turns out the issue was something different.

This stopped working since the commit https://git.kernel.org/pub/scm/linux/kernel/git/vgupta/arc.git/commit/?h=for-curr&id=48b5ffd1268788afb01525e71e864e901e9aa070.
The problem is that this commit relies on the presence of “realpath” utility, which is not present in CentOS 6 systems. Thus problem manifests itself only on CentOS 6, everything is cool on

[2019-05-30 19:09] #10 closed

[2019-07-05 14:47] falaleevms opened #12 "Linux boot failed on nSIM_arc700"
Boot linux failed on nSIM_arc700, see full log here: [nSIM_failed_boot_log.txt](https://github.com/foss-for-synopsys-dwc-arc-processors/linux/files/3363014/nSIM_failed_boot_log.txt).
[code]

Build linux from:
Build from: _https://git.kernel.org/pub/scm/linux/kernel/git/vgupta/arc.git_
Commit: _5c100a5d62455a9703a8106d1c6532e9c60628df_

Path to vmlinux: _/remote/ru20home1/falaleev/saved_binary/vmli

[2019-07-08 08:26] vineetgarc commented on #12
Thx for the report. In my low level irq rework one of the interim commits 6c5b01c2ed25 was broken for ARC700. I've fixed it in place and force pushed for-curr

[2019-07-08 08:26] #12 closed

[2019-07-18 22:51] vineetgarc opened #13 "Refactor ptrace.c"
We currently copyout/copyin each register which generates horrible code. Instead use a tmp on-stack structure, populate it with pt_regs and then do a single copyout/copyin (see xtensa port e.g.)

[2019-07-25 09:57] falaleevms opened #14 "LTP test 'msgstress04' hangs"
LTP (version 20190517) test 'msgstress04' often hangs on HSDK and HAPS.

Examples:
HSDK - glibc, gcc 8.3.0, binutils 2.31.1 - [ltp.target.log.txt](https://github.com/foss-for-synopsys-dwc-arc-processors/linux/files/3430809/ltp.target.log.txt)
HAPS - uclibc, gcc arc-2019.03-rc1, binutils arc-2019.03-rc1 - [haps.ltp.target.log](https://github.com/foss-for-synopsys-dwc-arc-processors/linux/files/3430

[2019-07-29 08:54] falaleevms commented on #14
Test msgstress03 hanged during execution on HAPS, see [ResultsDB #4853](http://de02-resultsdb:8080/result.php?Project=6&pkey=4853).

It was decided to temporarily remove all msgstressXX tests to continue verification.

[2020-03-02 20:51] EvgeniiDidin opened #15 "CONFIG_HARDENED_USERCOPY detects kernel memory overwrite attempt to kernel text"
Starting Linux kernel v5.4.22 on both HSDK & nSIM with ARC HS with enabled `CONFIG_HARDENED_USERCOPY` option ends up with hang with the next message:
[code]

[2020-03-11 19:28] vineetgarc commented on #5
@abrodkin can this be cleaned up please ?

[2020-03-11 19:29] vineetgarc commented on #15
@Palmyr3 care to take a look at this one ?

[2020-03-12 03:08] abrodkin commented on #15
@EvgeniiDidin could you please elaborate a bit on how important is that one for us? I.e. is it required by some project like OpenWrt etc? That will help us to prioritize it properly.

[2020-03-12 03:11] abrodkin commented on #5
@Palmyr3 could you please give that a try sometime soon? Hopefully with newer U-Boot versions that problem is gone.

[2020-03-13 08:23] EvgeniiDidin commented on #15
In Openwrt the option CONFIG_HARDENED_USERVOPY=y was added for all targets in generic Linux configuration files:
https://github.com/openwrt/openwrt/commit/9b1239451d6598f39b3689c8c6e0d6147965e601
Disabling this option in target/linux/archs38/config-* file we can workaround this issue(specific target config has more priority).

[2020-03-25 14:00] iguryanov opened #16 "merged access to packed structures fields generates unaligned operations"
Hi,

new optimization introduced around 2018.09 release merges short memory accesses. This is an issue for existing arc700 code at least. For example - u-boot. That codebase does not rely much on volatiles and pointers to complex structures are often passed as uchar*.

Perhaps such optimization should not be applied to packed structures?

(as a side note, even Linux might suffer is it would fire u

[2020-03-25 14:00] #16 closed

[2020-03-25 14:15] abrodkin opened #17 "[Linux] Init fails with 16KiB MMU page"
In Buildroot 2019.11-374-g62a7e61df9 `BR2_ARC_PAGE_SIZE_16K=y` & `BR2_TOOLCHAIN_USES_UCLIBC=y`
In Linux kernel 5.4.2 `CONFIG_ARC_PAGE_SIZE_16K=y`.

[code]

[2020-03-25 14:15] #17 closed

[2020-04-01 16:07] pmgreco opened #18 "CCM size checks in arch/arc/kernel/setup.c fail due to incorrect units"
In the file arch/arc/kernel/setup.c the CCM size checks are incorrectly using mismatched units (KiB checked against bytes), and will always fail.  The CONFIG_ARC_DCCM_SZ and CONFIG_ARC_ICCM_SZ are in KiB (indicated by both defaults and comments in Kconfig, and well as used in vmlinux.lds.S), but setup uses units of bytes for cpu->dccm.sz and cpu->iccm.sz.

Seems like the correct fix is to add TO_K

[2020-04-21 20:22] falaleevms opened #19 "FPmark test 'ray-1024x768at24s' hangs"
FPmark test `ray-1024x768at24s.exe` hangs:

Example on HAPS:
log: [fpmark.log](http://de02-resultsdb:8080/attachment.php?Project=28&attach_id=32996)
(execution aborted by timeout after 10 hours)
full info: [ResultsDB](http://de02-resultsdb:8080/result.php?Project=28&pkey=8722)

Example on HSDK:
log: [fpmark.output.log](http://de02-resultsdb:8080/attachment.php?Project=28&attach_id=32410)
full info

[2020-04-29 10:21] NikitaSobolev opened #20 "SPEC2017: 505.mcf_r failure"
505.mcf_r test fails and calls stack trace.

**How to reproduce build:**
https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/wiki/SPEC2017#how-to-run-prebuilt-spec

**Config file used:**
[arc.cfg.txt](https://github.com/foss-for-synopsys-dwc-arc-processors/linux/files/4551095/arc.cfg.txt)

**Test output:** watch below this text or see in the file:
[505.mcf_r_out.log](https://github.c

[2020-04-29 10:56] NikitaSobolev opened #21 "SPEC2017: 507.cactuBSSN_r failure"
507.cactuBSSN_r fails and calls stack trace.

**How to reproduce build:**
https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/wiki/SPEC2017#how-to-run-prebuilt-spec

**Config file used:**
[arc.cfg.txt](https://github.com/foss-for-synopsys-dwc-arc-processors/linux/files/4551095/arc.cfg.txt)
[Delte .txt extension before use]

**Test output:**  see in the file:
[507.cactuBSSN_r_make.out

[2020-04-29 11:04] NikitaSobolev opened #22 "SPEC2017: 521.wrf_r failure"
521.wrf_r test fails and calls stack trace.

**How to reproduce this build:**
https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/wiki/SPEC2017#how-to-run-prebuilt-spec

**Config file used:**
[arc.cfg.txt](https://github.com/foss-for-synopsys-dwc-arc-processors/linux/files/4551095/arc.cfg.txt)
[Delte .txt extension before usage]

**Test output:** see in the file or 70 last lines belo

[2020-04-29 11:07] NikitaSobolev opened #23 "SPEC2017: 538.imagick_r failure"
538.imagick_r test fails and calls stack trace.

**How to reproduce this build:**
https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/wiki/SPEC2017#how-to-run-prebuilt-spec

**Config file used:**
[arc.cfg.txt](https://github.com/foss-for-synopsys-dwc-arc-processors/linux/files/4551095/arc.cfg.txt)
[Delte .txt extension before usage]

**Test output:** see below or in the file:
[538.im

[2020-05-04 11:20] NikitaSobolev opened #24 "SPEC2017: specmake problem"
To run SPEC2017 test suite, you should build spec tools first.
specmake is one of those tools built. But it is executed with errors, so we can not use it.
Now we create symlink "specmake" on native make to workaround this problem.
Also, we change sha512sum for specmake in TOOLSsha512 file to pass an integrity check.

You can see the output log of specmake error below or in the file:
[make_error.lo

[2020-05-19 21:46] vineetgarc commented on #20
This is not a test issue but a system issue per se which I saw too (on HSDKv1) with base image from Eugeniy D. My workaround was to build this function with -O0

[code]

[2020-06-17 11:17] falaleevms commented on #19
Temporarily workaround: just skip `ray-1024x768at24s.exe` test:
https://gitsnps.internal.synopsys.com/arc_oss/verification_automation/verification-automation-scripts/commit/9682f960e0b88deba0e24ff01257de9512b036a2

[2020-06-24 02:20] vineetgarc opened #25 "[ARC64] kernel panic with compressed initramfs"
ARC64 port of Linux kernel panics when unpacking a **compressed** initramfs.
[code]

broken system needs to have atleast
[code]
I've not tried other compression methods:

Works fine for
[code]

This is very likely a gcc codegen issue of some sort

Tested with
Linux 5.6: 2020-06-23 9a3356b1e857 ARCv3: entry: hw auto-save need not save code-density base regs
gcc: 2020-06-22 90a22db1ffcb arc64:fix cr

[2020-06-25 13:38] abrodkin commented on #25
@vineetgarc I suggest to re-assign it to @claziss due to your guess about codegen and one we get regression testing for ARC64 in place we'll see if it's still relevant, OK?

[2020-06-25 16:52] vineetgarc commented on #25
@abrodkin gcc folks generally require a test case of failing file - as of now we don't what exact place the failure is happening (remeber paddelfish bringup issue you and @Palmyr3 chased). So it will have to be someone else to dig down to exact failure point. Perhaps solicit volunteers @shahab-vahedi @cupertinomiranda to get their feet muddy in ARC64

[2020-07-03 10:44] cupertinomiranda commented on #25
@abrodkin Up until you find what is the the incorrect generated code it is to my eyes your problem. I had enough of this unjustified muddy work ... to be "politically" correct.
@vineetgarc I have mud to my neck at the moment, luckily feet are on solid ground ... otherwise !!!!

[2020-07-23 17:37] TaikunZhang opened #26 "Init Seqeunce"
Running into this issue after building linux image using buildroot...

`[    0.295944][    T1] Run /init as init process
[    0.295969][    T1]   with arguments:
[    0.295987][    T1]     /init
[    0.296002][    T1]   with environment:
[    0.296020][    T1]     HOME=/
[    0.296036][    T1]     TERM=linux
[    0.296386][    T1] Failed to execute /init (error -14)
[    0.296418][    T1] Run /sbi

[2020-07-23 17:45] vineetgarc commented on #26
We need more info on toolchain, kernel, and what config it is to know whats the issue

[2020-07-23 19:33] TaikunZhang commented on #26
Version: Linux-5.6.3
Config: snps_archs38_haps_defconfig

How would I be able to find info on the toolchain?

[2020-07-23 19:42] vineetgarc commented on #26
what version of buildroot  ?

[2020-07-23 19:43] TaikunZhang commented on #26
I just cloned the latest version today. Followed the instructions here but used my own tcf file for the sim.

https://github.com/foss-for-synopsys-dwc-arc-processors/linux/wiki/How-to-build-filesystem-and-kernel-images-for-ARC-cores-with-Buildroot

[2020-07-23 19:43] vineetgarc commented on #26
and what simulator is this ? Please provide full boot log too

[2020-07-23 19:46] TaikunZhang commented on #26
[nsim_log.txt](https://github.com/foss-for-synopsys-dwc-arc-processors/linux/files/4968412/nsim_log.txt)
Using nsimdrv version 2019.09.01

[2020-07-23 20:03] vineetgarc commented on #26
Is this free nSIM, im not sure if nsimdrv supports SMP.
You have a SMP image which uses ARConnect IDU to connect uart interrupt.
Can u upload your kernel image here

[2020-07-23 20:09] ncesser commented on #26
nsimdrv does not support SMP.

[2020-07-23 20:13] TaikunZhang commented on #26
I am not using the free version.
Also I am unable to upload my vmlinux but I jsut followed the instructions from the link from this wiki.

[2020-07-23 20:15] TaikunZhang commented on #26
How would I be able to build a linux kernel that can be supported by nsimdrv then?

[2020-07-23 20:25] ncesser commented on #26
nsimdrv (free or otherwise) just doesn't support SMP at all. @vineetgarc can probably comment better on how to build Linux kernel for use with nsimdrv, but the Wiki suggests that you need to configure for a particular board and lists two board configurations suitable for nSIM (one for ARC 770, one for ARC HS38).

[2020-07-23 20:37] TaikunZhang commented on #26
Yes that was what I followed however once I changed the config like it says in the wiki
$ gvim configs/snps_archs38_haps_defconfig
change BR2_LINUX_KERNEL_DEFCONFIG="nsim_hs"

I receieve this error while making the image; Can't find default configuration "arch/arc/configs/nsim_hs_defconfig"!

[2020-07-23 20:38] TaikunZhang commented on #26
The current one I am using is the one the wiki explains without the modifications.

[2020-07-23 20:49] vineetgarc commented on #26
Perhaps the wiki needs updating, we've renamed the kernel defconfigs from nsim_hs* to haps_hs* so you can select haps_hs and give it a try ! OTOH we don't know what options you are using with nsim drv so if that doesn't work you need to share those with us.

BTW just curious, what exactly is your project. Are you an ARC licensee, or a student or open source enthusiast ? You can email us directly (

[2020-07-23 21:48] TaikunZhang commented on #26
I sent an email. Thanks

[2020-07-28 18:34] vineetgarc opened #27 "[ARC64] minimal (static linked) glibc userspace bringup using MMUv4"
I have couple of  hacks which allow building Linux kernel with ARCv2 software walked MMUv4 for ARC64 too.
We also have a basic ARC64 glibc toolchain building now.
With these I'm trying to bringup a minimal static glibc linked busybox.

[2020-08-04 06:59] #27 closed

[2020-08-05 02:47] vineetgarc commented on #25
Retested this today with latest nSIM and gcc (2020-07-29 f470b90af0b3 arc64: fix tls detection in assembler) and it works now. So it must have been one of the fixed issues in gcc / nSIM etc.

[code]

[2020-08-05 02:47] #25 closed

[2020-08-08 03:38] vineetgarc opened #28 "[ARC64] dynamic link busybox crash"
glibc bits for dynamic linker have been pushed and with this I'm trying to bringup a dynamic linked system
In test setup I have both static busybox (as default) which boots to shell and a dynamic linked busybox which is seg faulting in dynamic loader.

I'm still at gcc commit 2020-07-29 f470b90af0b3 arc64: fix tls detection in assemble to avoid any possible issues due to recent dbnz commits).

The

[2020-09-02 03:23] setvensxiong opened #29 "Is there a plan to add the support for the arch of HS48FS into the builderoot-demos repository?"
There is a buildroot-demos in the GIT repository, which is very cool and can compile the kernel, bootloader, root filesystem, cross-compile tool chain all at once, but the buildroot-demos  only supports ARCHs like ARC 750D, ARC 770D, ARC HS38.
It's hoped that the support for the arch of HS48FS would also be added into the builderoot-demos repository.
Thanks!

[2020-09-04 19:17] abrodkin commented on #29
If you provide an explanation on what do you expect to be done specially for HS48FS we may consider doing that.
Now from software development standpoint HS48FS doesn't differ from an ordinary HS48 if safety features are disabled (I guess that's exactly your case). So whatever works for normal HS48 will work for your HS48FS.

Also note, in our https://github.com/foss-for-synopsys-dwc-arc-processors

[2020-09-07 08:56] setvensxiong commented on #29
Thanks for your nice comments. I have got all I want to know from these comments.

[2020-09-07 08:56] #29 closed

[2020-10-22 00:05] vineetgarc opened #30 "perf statistical profiling (perf record/report) broken on upstream v5.9 kernel (HSDK-4xD)"
This came up in recent benchmarking activity. In mainline kernels statistical profiling or **perf record** is broken

[code]

At first glance it seemed like my recent commits to enable perf on HSDK-4xD merged upstream were missing, specifically
2020-07-09 [fe81d927b78c](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/arch/arc?id=fe81d927b78c4f0557836661d32e41ebc957b024) A

[2020-10-23 05:11] vineetgarc commented on #30
This turned out to be much more mundane and silly than expected.

First of all it was a regression caused by the prior fix for exact same issue, merged in v4.9-rc4, commit [feb92d7d3813456c11dce21 "(ARC: perf: don't bail setup if pct irq missing in device-tree)"](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/arch/arc?id=feb92d7d3813456c11dce215b3421801a78a8986)

Second

[2020-10-23 22:33] vineetgarc commented on #30
Fix merged upstream: [8c42a5c02bec6c ARC: perf: redo the pct irq missing in device-tree handling ](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/arch/arc/kernel?id=8c42a5c02bec6c7eccf08957be3c6c8fccf9790b)

[2020-10-23 22:33] #30 closed

[2020-10-28 04:53] vineetgarc opened #31 "top freezes when running rcutorture kernel module [v5.10-rcX kernel]"
A customer reported a soft lockup when running rcutorture test (as loadable module) and running top in foreground. After sometime top stops updating, the interactive shell is not responsive (doesn't respond to ctrl+c). However the system is not dead and ssh to target still works.

This was reproduced on HSDK dev platform with buildroot-2020.02.4 and buildroot-2020.02.7 (both using kernel 4.19.31).

[2020-10-28 04:53] vineetgarc commented on #31
Problem doesn't happen with latest 5.10-rc1 kernel

[2020-10-28 05:04] vineetgarc commented on #31
Linux top utility ends up unwinding each process kernel mode stack.
The issue looked like something might be erong with kernel stack unwinder. Added some debug and indeed it revealed infnite looping going on. This explained the "soft lockup" as in one 1 core running the unwinder was locked up - other cores had active scheduling and could handle ssh and other requests.

[code]

[2020-10-28 05:07] vineetgarc commented on #31
The stack unwinder [arc_unwind_core()](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/arch/arc/kernel/stacktrace.c#n114) is s thin wrapper over dwarf unwinder and relies on dwarf unwinder to signal end of call chain and terminate. So in theory it can loop forever - the proposed patch [ARC: stack unwinding: avoid indefinite looping](http://lists.infradead.org/pipermail/linu

[2020-10-29 12:12] jzbydniewski opened #32 "Synopsys ARC HSDK (4xHS38) hangs at boot with 5.10-rc1 kernel"
I observe this with buildroot 2020.08.1, after kernel changed to 5.10-rc1 (using menuconfig 'kernel' and 'toolchain' sections)
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.10-rc1"
BR2_LINUX_KERNEL_VERSION="5.10-rc1"
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_7=y
BR2_TOOLCHAIN_HEADERS_AT_LEAST_5_7=y
BR2_TOOLCHAIN_HEADERS_AT_LEAST="5.7"

Linux doesn't complete boot but hangs instead when trying to start al

[2020-10-29 23:31] vineetgarc commented on #32
I can reproduce this issue on my end on original HSDK (v1 with HS38x4) cores. The problem only happens on 5.10-rc1 and not on last release 5.9.

[2020-10-30 01:49] vineetgarc commented on #32
Debugged this with Metaware debugger and I know what's going on.

From boot logs we can see that cores 0 (Master) and 2 are fine but 1 and 3 are not and hitting memory error exception in early boot asm trampoline when accessing @secondary_idle_task->thread_info (used to setup stack base)

[code]
The key things to note are
- EFA (Exception Fault Address): 0x8006_f2a0.
- ECR (Exception Cause) is  0x

[2020-10-30 03:41] vineetgarc commented on #32
As to the mystery why this was happening only on **v5.10-rc1** and not prior release **v5.9** the issue was bisected to a subtle side-effect of generic upstream change merged in v5.10-rc1

Commit 7fef431be9c9ac25583 [mm/page_alloc: place pages to tail in __free_pages_core()](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/mm/page_alloc.c?id=7fef431be9c9ac255838a9578331567

[2020-10-30 03:45] vineetgarc commented on #32
The fix is to remove the implicit ordering in ARC platform code.

Patch posted to lkml [ARC: [plat-hsdk] Remap CCMs super early in asm boot trampoline](http://lists.infradead.org/pipermail/linux-snps-arc/2020-October/004426.html)

This will make it to upstream v5.10-rc2 but can be tested now.

[2020-10-30 03:45] #32 closed

[2020-10-30 04:12] vineetgarc commented on #32
Oh before we move on, another mystery was this not showing up on my HSDK-4xD development board which is essentially 2nd generation of same board, with a new HS release HS48x4. Turns out that on on this version, CCMs are already wired at 0x6000_0000 (at hardware build time) so CCM remapping in Linux is not even needed (but doing it doesn't really hurt).

[2020-10-30 21:39] vineetgarc commented on #18
Merged upstream in 5.7 kernel 43900edf67d7ef3 [ARC: Fix ICCM & DCCM runtime size checks](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/arch/arc/kernel/setup.c?id=43900edf67d7ef3ac8909854d75b8a1fba2d570c)

[2020-10-30 21:39] #18 closed

[2020-11-02 09:01] jzbydniewski commented on #32
Thanks, I applied this patch to 5.10-rc2 and can see that HSDK now boots properly.

[2020-11-05 10:34] jzbydniewski commented on #31
I can still see similar issue from time to time on 5.10-rc2 (with patch applied from https://github.com/foss-for-synopsys-dwc-arc-processors/linux/issues/32 to make it boot). When it reproduces with 5.10-rc2 the HSDK doesn't even respond to ping.

Sometimes it runs for hours or days without reproduction. I think it's easiest to reproduce by trying steps below:
1. power-off HSDK
2. power-on HSDK
3.

[2020-11-05 18:18] vineetgarc commented on #31
To rule out unwinder shenanigans, can you please try the following hack. This removes stack unwinder from the picture (when top is invoked). In the mean time I'll try to reproduce it here as well.

diff --git a/fs/proc/array.c b/fs/proc/array.c
index 65ec2029fa80..48d1ac64deac 100644
--- a/fs/proc/array.c
+++ b/fs/proc/array.c
@@ -519,8 +519,6 @@ static int do_task_stat(struct seq_file *m, struct

[2020-11-06 01:43] vineetgarc commented on #31
So far I can't hit the issue - with and w/o the above hack. Can you please upload your $BR/images/uImage and $BR/build/linux-5.10*/vmlinux here !

[2020-11-06 09:17] jzbydniewski commented on #31
[5.10-rc2.zip](https://github.com/foss-for-synopsys-dwc-arc-processors/linux/files/5500262/5.10-rc2.zip)

[2020-11-06 21:30] vineetgarc commented on #31
Thx, can u please also upload the sdcard.img as well for me to get the exact rootfs too - sorry should have asked for it previously.

[2020-11-06 21:33] vineetgarc commented on #31
I've scripted this so top + rcutorture runs automatically after boot

**/etc/inittab** # remove login prompt
[code]

**/etc/init.d/S50rcutorture**  # add new rcs script
[code]

[2020-11-09 06:44] jzbydniewski commented on #31
[sdcard.zip](https://github.com/foss-for-synopsys-dwc-arc-processors/linux/files/5508533/sdcard.zip)

[2020-11-10 22:51] vineetgarc commented on #31
I can't hit the issue on 2 of the boards I have, even with your sdcard.img. Guess this will need to be debugged on your board. Did you try adding this patch to kernel and rerun ?

[2020-11-16 12:13] jzbydniewski commented on #31
I can see still this issue even with patch from the comment above. Vineet, can you provide some instructions how to debug the freeze once I see it ? Or any debug features I should add first to the linux build ?

[2020-11-18 01:39] vineetgarc commented on #31
@jzbydniewski I was wondering if your board could be running at higher core or DDR clock which could cause some instability.
HSDK has 2 modes of operation
Slow mode:	cpu @ 500 MHz, DDR @ 666 MHz
Fast mode:	cpu @ 1GHz,	    DDR @ 800 MHz

At board startup, prebootloader prints out the various clocks and PLLs.
e.g. My board's output is

[code]

FYI: Note that youe Linux logs would print a 1 GHz clk,

[2020-11-18 02:27] vineetgarc commented on #31
In parallel, it would make sense to prepare to debug this with Synopsys Metaware Debugger (using digilent tools to do the low level jtag interfacing). In a debugging setup instead of booting the autobooting into uboot and kernel uImage, you would download the kernel elf binary (vmlinux) directly onto the target and run (after which it is same as original setup). You could halt yhe target, setup br

[2020-11-18 12:14] abrodkin commented on #31
@jzbydniewski also it would be interesting to see you U-Boot settings. To get it you need to stop U-Boot by pressing any key in the serial console while U-Boot is counting down and then execute `printenv`  command. Its output please paste here for our review.

[2020-11-18 12:20] jzbydniewski commented on #31
U-Boot settings and clocks below:

hsdk# printenv
axi_freq=400
baudrate=115200
bootargs=root=/dev/mmcblk0p2 rootwait
bootcmd=fatload mmc 0:1; bootm
bootdelay=2
bootfile=uImage
cpu_freq=500
fdtcontroladdr=bffaa170
loadaddr=0x82000000
stderr=serial0@f0005000
stdin=serial0@f0005000
stdout=serial0@f0005000
tun_freq=50

hsdk# hsdk_clock print_all
HSDK: clock 'cpu-pll' rate 500 MHz
HSDK: clock 'cpu-clk'

[2020-11-18 18:55] evgeniy-paltsev commented on #31
To avoid changing clock to 1GHz while booting kernel we can tweak clock rate in HSDK dts. Here is the patch:

[code]

@jzbydniewski could you please test if the issue reproduces with 500MHz CPU clock?

It require to rebuild kernel (as we have dts built-in), however as you have previous buildroot build you can tweak clock rate in kernel sources (`output/build/linux-x.xx` directory) and run `make li

[2020-11-19 00:31] vineetgarc commented on #31
Changed the title to reflect the fact that this happens on latest 5.10-rcX kernels too.

[2020-11-20 17:44] falaleevms opened #33 "Hackbench time equals exactly 1 second after rt-tests package update"
From this [hackbench.log](https://github.com/foss-for-synopsys-dwc-arc-processors/linux/files/5575157/hackbench.log) you can see that we have launched hackbench 15 times and time always was exactly 1 second. I started to observe such results after buildroot rebase on top of the master branch ([2020.05-2290-gd00b6c7864](https://gitsnps.internal.synopsys.com/arc_oss/verification_automation/buildroot

[2020-11-25 07:37] jzbydniewski commented on #31
I changed the CPU clock to 500MHz and couldn't reproduce the issue (tried several times to power off/on board). Going back to 1GHz and after few times of power off/on I can see it's stuck at boot:

[code]

[2021-01-06 02:24] vineetgarc commented on #31
Can we close this issue with workaround to run board @ 500 MHz ?

[2021-01-06 02:25] vineetgarc commented on #26
@TaikunZhang Is there anything else we need to do for this issue - if not lets close this !

[2021-01-06 02:28] vineetgarc opened #34 "HSDK fails to boot Linux v5.11-rc1"
5.11-rc1 boot log

[code]

5.10 is fine with same rootfs

[2021-01-07 00:18] vineetgarc commented on #34
So it seems there are a couple of issues which surprisingly the inhouse regression jobs have not caught (perhaps they went away for holidays too).

First issue is snafu in generic signal handling changes: 53855e12588743ea128 ("arc: add support for TIF_NOTIFY_SIGNAL") which I didn't sport at the time of review. Fix will likely make it into 5.11-rc3:
http://lists.infradead.org/pipermail/linux-snps-a

[2021-01-11 18:19] vineetgarc commented on #34
Fixes for both the issues: [arc: add support for TIF_NOTIFY_SIGNAL](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/arch/arc?id=bb12433bf56e76789c6b08b36c546f745a6aa6e1) and [Revert "init/console: Use ttynull as a fallback when there is no console"](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/init/main.c?id=a91bd6223ecd46addc71ee6fcd432206d39

[2021-01-11 18:19] #34 closed

[2021-01-12 19:27] abrodkin opened #35 "glibc-based OpenWrt fails to boot on ARC700 in nSIM"
With removal of uClibc from OpenWrt and availability of glibc for ARCv2 processors (starting from v2.32) we're trying to use glibc for ARC700 (AKA "ARcompact ISA" processors) instead of dropping ARC700 support entirely from OpenWrt.

This seems to be quite a simple task, requiring just a very minor change for the glibc itself for ARCompact support, see https://patchwork.ozlabs.org/project/openwrt/

[2021-02-05 04:27] vineetgarc commented on #8
Not doing this for ARCv2 anymore !

[2021-02-05 04:27] #8 closed

[2021-02-05 04:30] vineetgarc commented on #11
glibc tests seem to be runnng fine on HSDK-4xD. This seems like a one off blip on older core/board so I suggest we close this.

[2021-02-05 05:43] #31 closed

[2021-02-08 08:31] abrodkin commented on #11
As suggested by @vineetgarc closing it. If we ever face something similar we'll be able to get back to it.

[2021-02-08 08:31] #11 closed

[2021-02-11 15:31] glebasson opened #36 "Getting started guide with Linux on ARC cores with prebuild components incomplete"
Going through guide lead to error on simulation step:
![изображение](https://user-images.githubusercontent.com/14351181/107658364-1c901c00-6c97-11eb-95e8-affa90297ed3.png)
Since by default at .config file:
CONFIG_INITRAMFS_SOURCE=""
CONFIG_INITRAMFS_SOURCE="arc_initramfs" -- fixo

[2021-02-17 02:26] vineetgarc opened #37 "ARCv3 perf tools failing to build"
When building perf for ARCv3, getting error
`pmu.s:714: Error: immediate is out of bounds for instruction 'stl'`

At -O3, gcc is generating following, which is tripping the assembler.
`	stl.a	r15,[r1,616]`

Pre-processed file attached, build with -O3
[pmu.i.gz](https://github.com/foss-for-synopsys-dwc-arc-processors/linux/files/5992788/pmu.i.gz)

[2021-02-17 09:06] claziss commented on #37
Simplified version:
[code]

[2021-02-17 09:50] claziss commented on #37
Fixed by this one
https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/76b70bd6bb4bd9b3ee0f7d825ab16e406bb7a839

[2021-02-17 16:45] vineetgarc commented on #37
Thx for the quick fix Claudiu. Verified tt works.
We agreed to keep all arc64 issues private for now, hence here ! But if this is a generic issue in ARCv2 backend too, feel free to move it there.

[2021-02-17 16:45] #37 closed

[2021-02-24 21:25] vineetgarc opened #39 "ARC64/kernel: LTP mprotect04 looping"
I enabled LTP for ARC64 and tried executing this on QEMU.
mprotect04 is currently looping - it is working for ARC64 MMUv4 though meaning this is an issue in MMUv6 implementation.

[2021-02-24 23:19] vineetgarc opened #38 "[ARC64] stack unwinding not working"
In kernel dwarf unwinding doesn't seem to be working for ARC64. Here's a run on QEMU.

[code]

There seems to be enough drwarf information as both mdb and qemu can generate backtraces.

[2021-02-25 18:28] vineetgarc opened #40 "ARCv2 kernel: Functional caches broken for ARCv2 (in arc64 branch)"
When working on implementing functional caches (nSIM) for arc64, found that that is broken for ARCv2.
In current mainline kernel, it is OK (with same rootfs etc).
So something in ARCv3 branches is regressing ARCv3 cache ops.

[2021-02-25 18:28] #40 closed

[2021-02-25 18:29] vineetgarc opened #41 "port strace to ARC64"
Started with v5.10 release. Only 2 lines of cod echange needed  and it builds for ARC64.
However when run, hangs (on SIGSTOP signal) so something is wrong in implementation.

[code]

[2021-02-25 18:29] #41 closed

[2021-02-25 18:29] vineetgarc opened #42 "ARCv2 kernel: Failing to boot in arc64 branch"
With ARC64 software up - I was curious to see how hackbench performs in this minimal / non-optimized system. To compare we needed to test ARCv2 (preferably in same tree so generic improvement such as relaxed atomics / generic strncpy etc applies to ARCv2 as well for a fair comparison)
However ARCv2 kernel on tip of arc64 branch is failing to boot on HAPS / HSDK.

[code]

[2021-02-25 18:29] #42 closed

[2021-02-25 18:29] vineetgarc opened #43 "[arc64] preemptible kernel (with MMUv6) hits machine check with stress testing"
Stress testing the MMUv6 support (repeated fork/execve/exit) triggers a machine check.
This only happens with CONFIG_PREEMPT kernel.
[code]

[2021-02-25 18:29] #43 closed

[2021-02-25 20:51] vineetgarc opened #44 "[ARC64] obscure errors when trying to run ARCv2 binaries on ARCv3 system"
**Host**
[code]

**ARC64 Target (QEMU)**
[code]

For aRCv2 we have better messages when we would try to run ARCompact binaries !

[2021-02-25 23:29] vineetgarc commented on #39
commit 32734eea2cb7f0d4198eee271f4ec3416e86a914 (HEAD -> arc64, gh/arc64)
Author: Vineet Gupta <vgupta@synopsys.com>
Date:   Fri Feb 19 14:44:02 2021 -0800

    ARCv3: mm: fix pte_modify() not clearing exec related bits: _PAGE_NOTEXEC_U

    This showed up a LTP mprotect04 looping on same ProtV fault when trying
    to exeute self-modifying code after an mprotect(PROT_EXEC)

    pte_modify() needs

[2021-02-25 23:29] #39 closed

[2021-03-03 10:14] VVIsaev commented on #44
I think this message is specific to shell. So `ash` (busybox default) will raise this message on any platform:
[code]

Here is code (`busybox/shell/ash.c`) responsible for executing binaries in ash:
[code]

So in case of `ENOEXEC` it tries to interpret it as a shell script. `ENOEXEC` looks like correct error here (`man execve`):
[code]

So I have no ideas what to fix here. Please close or reassign

[2021-03-03 10:33] cupertinomiranda commented on #44
Nice analysis @VVIsaev ! :+1:

[2021-03-25 03:22] vineetgarc commented on #44
@VVIsaev commit merged.

[2021-03-25 03:22] #44 closed

[2021-04-01 14:13] abrodkin opened #46 "[ARC64][specin2006] omnetpp segfaults"
Fails exactly the same in both QEMU & nSIM

1. nSIM: `nsimdrv -prop=nsim_isa_vec64=1 -prop=nsim_isa_family=arc64 -prop=nsim_isa_enable_timer_0=1 -prop=nsim_isa_enable_timer_1=1 -prop=nsim_isa_addr_size=64 -prop=nsim_isa_pc_size=64 -prop=icache=16384,64,4,o -prop=dcache=16384,64,4,o -prop=mmu_version=6 -prop=mmu_pagesize=4096 -prop=mmu_address_space=48 -prop=nsim_mem-dev=uart0,kind=dwuart,base=0xf0

[2021-04-01 14:35] abrodkin commented on #46
That's the part of `libgcc_s.so.1` where it fails:
[code]

@claziss @vineetgarc yet another unwinder-related problem? Or https://github.com/foss-for-synopsys-dwc-arc-processors/linux/issues/38 is only applicable to the kernel and user-space unwinder is supposed to work?

[2021-04-02 16:41] claziss commented on #46
It is libgcc, it is unwind procedure, probably it is unwinding issue.

[2021-04-16 04:44] vineetgarc opened #47 "[arc64] strace misidentifying some syscalls"
strace is not able to decipher some syscalls.

[code]

0x71: clock_gettime
0x104 = wait4

[vmlinux-210415-arc64-gcc-1af4ddc4b17b-lmbench.xz.log](https://github.com/foss-for-synopsys-dwc-arc-processors/linux/files/6322556/vmlinux-210415-arc64-gcc-1af4ddc4b17b-lmbench.xz.log)

[2021-04-23 14:36] shahab-vahedi opened #48 "[GDB][native] Running GDB with a debugee crashes"
Runing gdb alone is fine.
[code]
But running it with a debugee crashes the simulator (both QEMU and nSIM):
[code]

nSIM flags
[code]

QEMU flags
[code]

environment
[code]

[vmlinuxaa.zip](https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/files/6366018/vmlinuxaa.zip)
[vmlinuxab.zip](https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/files/6366019/vmlinuxab.zip)

[2021-04-23 19:57] vineetgarc commented on #48
Patch posted to lkml, will be sent Linus way soon !
http://lists.infradead.org/pipermail/linux-snps-arc/2021-April/005008.html

[2021-05-04 20:09] vineetgarc commented on #48
@shahab-vahedi is this still an issue ?

[2021-05-04 20:52] shahab-vahedi commented on #48
Not from my side. You know when the patch will land. So you will be a good judge when to close this.

[2021-05-05 01:09] vineetgarc opened #50 "LMBench memsize bailing out on FPGA"
This came up during initial profiling of arc64 software stack on FPGA (@ 50 MHz).

LMBench needs to be configured before running to establish execution environment (subset, tmp dir, cpu clock etc). This is done via scripts/config-run which in turn invokes various small utility programs to do so. This includes memsize which verifies the amount of memory specified for use by actual benchmarks such l

[2021-05-05 01:25] vineetgarc commented on #50
This is happening even on latest ARCv2 Buildroot builds with latest paddlefish bitfile. Tried an old ARCv2 kernel binary (with initramfs) and that seems to work fine  - so this is not specific to hardware but something to do with specific build.

[2021-05-05 04:48] vineetgarc commented on #50
Interestingly this happens with LMbench built from within buildroot. It doesn't happen when it is built off of github, even when built with same toolchain. So this turned out to be pretty mundane. Apparently almost 10 years ago I ran into this exact issue, when running on our beloved AA4 boards and needed a fix to lmbench memsize for slow fpgas. See
[TOO_LONG 100 usec to prevent memsize from timin

[2021-05-05 07:38] abrodkin commented on #50
@vineetgarc could you please send this patch to Buildroot or we'll just keep using our GitHub fork for everything ARC?

[2021-05-14 01:22] wimowa opened #51 "Is there any sample code to illustrate how to use PAE+MMU for the usage of 40 bits address?"
Dear all,

After check the databook, I understand Hs48 can support 40 bits address, but how to implement it in real case?　Does current Linux Arc CPU sw have support PAE 40 bits? and where?

Thanks.

[2021-05-17 21:10] vineetgarc commented on #48
Fix merged in v5.13-rc2  3433adc8bd09fc9f29b8baddf33b4ecd1ecd2cdc

[2021-05-17 21:10] #48 closed

[2021-05-17 21:13] vineetgarc commented on #50
Patch posted to BR: http://lists.infradead.org/pipermail/linux-snps-arc/2021-May/005066.html
Merged upsream BR: 2f6d7b6333367582eef14073af0a490bc87d79f3

[2021-05-17 21:13] #50 closed

[2021-05-17 21:26] vineetgarc commented on #51
ARC Linux supports PAE since v4.6 (2016).
The following high level aspects are needed to supporting PAE.

1. Defining physical address to be 64-bit
    This is implemented via **CONFIG_PHYS_ADDR_T_64BIT** (and selected automatically if **CONFIG_ARC_HAS_PAE40**)

2. Enabling MMU driver to program 64-bit TLB entries
    This is implemented via **CONFIG_HIGHMEM** and **CONFIG_ARC_HAS_PAE40**
    TLB

[2021-05-17 21:28] #26 closed

[2021-05-17 21:29] vineetgarc commented on #36
@abrodkin what needs to be done here ?

[2021-05-18 00:55] wimowa commented on #51
Thank you very much.
I really really appreciate all these information.

[2021-05-27 07:05] wimowa opened #52 "[Question] How to register IRQ handler to the IDU-intc on Linux?"
Dear all,

Our environment has 4 Hs48 cores, and  per core have 32 IDU interrupts.
I review linux/arch/arc/boot/dts/haps_hs_idu.dts in order to get more understanding about IDU.

		core_intc: interrupt-controller {
			compatible = "snps,archs-intc";
			interrupt-controller;
			#interrupt-cells = <1>;
		};

		idu_intc: idu-interrupt-controller {
			compatible = "snps,archs-idu-intc";
			interrupt-c

[2021-05-27 14:10] evgeniy-paltsev commented on #52
Hi!

Correct.

Correct. I should note there that we don't send interrupt to all cores simultaneously but we send it to one CPU core which is chosen with round-robin algorithm.

The hardware itself allows to configure IRQ scheduling to cores: which core(s) to deliver to and algorithm of core(s) selection, however in case of ARC linux we don't support such configuration (in build or run time) and us

[2021-06-08 13:08] VVIsaev opened #53 "Glibc's sigcontext doesn't match kernel's one"
In glibc we have mcontext with `__r30, __r58, __r59;` https://github.com/foss-for-synopsys-dwc-arc-processors/glibc/blob/9826b03b747b841f5fc6de2054bf1ef3f5c4bdf3/sysdeps/unix/sysv/linux/arc/sys/ucontext.h#L29 .

When in kernel we don't have these registers in sigcontext: https://elixir.bootlin.com/linux/v5.13-rc5/source/arch/arc/include/uapi/asm/sigcontext.h#L19 https://elixir.bootlin.com/linux/v5

[2021-06-08 18:17] vineetgarc commented on #53
That is good as we have the right ABI in place.

Yes this could be an issue - we need to preserve these registers across signal handling - looks like when we added the ARCv2 regset, we missed adding it here.

This is likely not an issue (adding Sahahb to confirm). gdb ptrace infrastructure uses user_regs_struct and user_regs_arcv2 explicitly and not struct ucontext interface.

Well there are 2 pot

[2021-06-09 09:52] shahab-vahedi commented on #53
Indeed! That is the reason of [arc: Add support for ARC HS extra registers in core files](https://sourceware.org/git/?p=binutils-gdb.git;a=commit;h=2745674244d6aecddcf636475034bdb9c0a6b4a0) commit in binutils.

Nevertheless, your 2 points in the end are correct.

[2021-06-09 21:59] vineetgarc commented on #53
Fix posted http://lists.infradead.org/pipermail/linux-snps-arc/2021-June/005202.html

[2021-06-09 22:16] vineetgarc commented on #15
Fix posted: http://lists.infradead.org/pipermail/linux-snps-arc/2021-June/005203.html

[2021-06-18 22:58] vineetgarc commented on #53
Merged upstream for 5.13-rc7 inclusion
2021-06-08 96f1b00138cb ARCv2: save ABI registers across signal handling

[2021-06-18 22:58] #53 closed

[2021-06-18 22:59] vineetgarc commented on #15
Merged upstream for 5.13-rc7 inclusion.
2021-02-26 110febc0148f ARC: fix CONFIG_HARDENED_USERCOPY

[2021-06-18 22:59] #15 closed

[2021-07-08 19:24] #52 closed

[2021-07-08 19:24] #51 closed

[2021-07-08 19:51] vineetgarc opened #54 "glibc/hard-float: math/test-fenv-tls sporadic failure"
When testing arc64 glibc hf support (on nSIM/FPGA) I observed sporadic failure of math/test-fenv-tls
[code]
It seems the issue was always FP exceptions related (test also checks rounding modes etc which works fine). So created a simple test.
[code]
This test would always **passes**.

Next as in original test, adding a thread doing this (in addition to main thread) and was able to hit the problem.

[2021-07-08 20:06] vineetgarc commented on #54
It seems this can happen on ARCv2 too,  if rarely: at least one of my HSDK run logs had this FAIL'ing.  On ARCv2 FPGA it could be easily triggered when ran in a loop.
[code]

[2021-07-08 22:59] vineetgarc commented on #54
So the issue is how FPU_STATUS is programed to raise/clear exceptions. Explicit setting of Exception Flag bits [0] thru [4] requires setting FWE [31]. This is what the glibc macros do
[code]
However in case of a task switch Linux kernel also needs to switch the FPU_STATUS to incoming task's bits. That code doesn't wiggle the FWE bit like above and thus can fail to effect the update. Here's the exc

[2021-07-08 23:05] vineetgarc commented on #54
When kernel starts a task fpu_init_task() sets the FWE bit once assuming that it is retained. glibc cautiously sets FWE everytime it updates FPU_STATUS so kernel need not do anything special on context switch. However it seems FWE is clear-on-write thus kernel needs to set it even on context switch code.

[code]

[2021-07-08 23:07] vineetgarc commented on #54
Local testing confirms the fix.
Waiting on confirmation from hw-folks before sending patch out to lkml.

[2021-07-21 05:37] vineetgarc commented on #54
Fix posted to lkml: http://lists.infradead.org/pipermail/linux-snps-arc/2021-July/005247.html
Ensuing glibc optmization: http://lists.infradead.org/pipermail/linux-snps-arc/2021-July/005252.html

[2021-08-12 00:06] vineetgarc commented on #54
Fix merged in mainline
2021-07-08 3a715e80400f ARC: fp: set FPU_STATUS.FWE to enable FPU_STATUS update on context switch

[2021-08-12 00:06] #54 closed

[2021-08-12 00:16] vineetgarc opened #55 "[arc64] link 64-bit kernel at high address"
So far for debugging/bringup needs we've been linking 64-bit kernel in same address map as 32-bit kernel. Now time is ripe to switch to a 64-bit kernel, linked at high address such as 0xFFFF_0000_0000.

Code: https://github.com/foss-for-synopsys-dwc-arc-processors/linux/tree/arc64-high-link-wip

config
CONFIG_LINUX_LINK_BASE=0xFFFF00000000
CONFIG_LINUX_RAM_BASE=0xFFFF00000000

This currently links

[2021-08-13 23:03] vineetgarc commented on #38
Fixed.
2021-08-13 b9cdc22c46e1 ARCv3: fix stack unwinding from sleep

[2021-08-13 23:03] #38 closed

[2021-08-13 23:04] vineetgarc commented on #38
[code]

[2021-08-16 17:19] VVIsaev commented on #55
Just for update here:
Current arc64 gcc11 is able to link the kernel, but we fails at `sched_clock` because of https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/issues/412#issuecomment-899575428

[2021-08-16 19:17] cooperxduffin opened #56 "Updating ARC board to linux 5.12 ?"
I was building images for the ARC board using buildroot-2019.02.1 linux 5.0 . I am able to get that working and it seems like all the PCIe drivers work as I am able to get linkup when I do lspci.

I recently tried to upgrade to linux 5.12 using buildroot-2021.02.x because it contains CXL 2.0 drivers. I am able to get an image that boots onto the ARC board, however it seems to be still using the li

[2021-08-16 19:48] abrodkin commented on #56
@cooperxduffin could you please post here your complete Buildroot's `.config`?
Also you may easily switch to newer Linux headers in your Buildroot and see if it helps.

[2021-08-16 19:57] cooperxduffin commented on #56
#
# Automatically generated file; DO NOT EDIT.
# Buildroot 2021.02.2-163-g5603394b97 Configuration
#
BR2_HAVE_DOT_CONFIG=y
BR2_HOST_GCC_AT_LEAST_4_9=y
BR2_HOST_GCC_AT_LEAST_5=y
BR2_HOST_GCC_AT_LEAST_6=y
BR2_HOST_GCC_AT_LEAST_7=y
BR2_HOST_GCC_AT_LEAST_8=y
BR2_HOST_GCC_AT_LEAST_9=y

#
# Target options
#
BR2_ARCH_HAS_MMU_MANDATORY=y
BR2_arcle=y
# BR2_arceb is not set
# BR2_arm is not set
# BR2_armeb

[2021-08-16 20:00] cooperxduffin commented on #56
[config.txt](https://github.com/foss-for-synopsys-dwc-arc-processors/linux/files/6995068/config.txt)

[2021-08-17 09:48] abrodkin commented on #56
@cooperxduffin may I also see your full bootlog and Linux kernel's `.config` (you may find it in `output/build/linux-xxx/.config`)?

[2021-08-17 15:30] cooperxduffin commented on #56
[linux512_config.txt](https://github.com/foss-for-synopsys-dwc-arc-processors/linux/files/7001244/linux512_config.txt)

[2021-08-24 16:36] abrodkin commented on #56
@cooperxduffin I see this in your kernel configuration:
[code]

Which says "PCI support" support is disabled (`# CONFIG_PCI is not set`). So you need to run `make menuconfig` and enable PCI and drivers for your PCI controller.

[2021-08-24 21:49] cooperxduffin commented on #56
<img width="405" alt="pci_enable" src="https://user-images.githubusercontent.com/73843313/130694422-3a96be78-c614-4eaa-ba59-15e36286a234.PNG">

I cant seem to find that specific option in the menuconfig if I search for CONFIG_PCI or "PCI support" it does not seem to be able to find it.

[2021-08-25 08:39] abrodkin commented on #56
OK, I see. You're now referring to Buildroot's `menuconfig` - sorry for the confusion :)
But what I meant and what you really need is the Linux's `menuconfig` where you may change kernel's configuration - enable more drivers etc. To access it from Buildroot's sources you need to execute `make linux-menuconfig`.

[2021-09-08 11:09] VVIsaev commented on #55
First version of changes are pushed to https://github.com/foss-for-synopsys-dwc-arc-processors/linux/tree/arc64-high-link-wip .

It can be booted on latest HW and in qemu from https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/tree/arc64-high-addr.

TBD: earlycon is disabled for now, we need to have some early_ioremap in order to use earlycon.

I didn't commit it to arc64 because we need

[2021-11-11 09:41] abrodkin opened #59 ""sparse" tool warnings tol look at"
Inspired by https://www.spinics.net/lists/linux-mm/msg268313.html

Linux semantic checker [sparce](https://www.kernel.org/doc/html/latest/dev-tools/sparse.html) (see more info on how it works - https://lwn.net/Articles/689907/) could be easily used during the Linux kernel build. Just either install it with your Linux distro package manager or build it from sources (https://git.kernel.org/pub/scm/d

[2021-11-25 12:04] mischajonker opened #61 "perf build warning"
After merging the origin tree, today's `linux-next` build (arc
haps_hs_smp_defconfig+kselftest) produced these warnings:

[code]
Introduced by commit

[code]

The 2 static arrays should be moved into `arch/arc/kernel/perf_event.c`
(the only place that uses them).  We get the warning because `perf_event.h`
is also included by `arch/arc/kernel/unaligned.c`.

[2021-11-29 20:45] abrodkin commented on #61
Should be fixed by http://lists.infradead.org/pipermail/linux-snps-arc/2021-November/005579.html

[2021-11-29 20:45] #61 closed

[2022-01-06 08:09] wangnuannuan opened #65 "LTP: out of memory"
When run the LTP test in linux , it triggered `out of memory` multiple times, finally the linux kernel stuck at welcome to buildroot login prompt.
[code]
vmlinux:  `ru20-hw-linux115:/SCRATCH/verification-node/binary-files/vmlinux/vmlinux_nSIM_archs38_03.01.2022_1-0-250_v5.16-rc8_Ltp.bu_gcc_upstr.glibc`
Linux version: `Linux version 5.16.0-rc8 (arcoss@53e79c17cc8e) (arc-buildroot-linux-gnu-gcc.br_r

[2022-01-12 14:50] VVIsaev commented on #55
Done in https://github.com/foss-for-synopsys-dwc-arc-processors/linux/commit/171d0c0dfbf5942947124899d4a1cf23bb2d18aa

Full-featured (earlycon/SMP/loader) after : https://github.com/foss-for-synopsys-dwc-arc-processors/linux/commit/0a5f612bd870caba984c02679f5ae39b6445670d

[2022-01-12 14:50] #55 closed

[2022-01-27 14:10] VVIsaev opened #68 "Kernel's inflate code may not work properly with -O3"
There is an alignment issue with inflate code which causes some tricky problems, such as corrupted files or binaries.
Other arches don't see this because we are the only one which uses -O3 for building kernel.

There is a workaround for the issue in the arc64 branch: https://github.com/foss-for-synopsys-dwc-arc-processors/linux/blob/bc5fec251f1087dc999fa744aa64799fc02a5476/lib/zlib_inflate/Makefil

[2022-01-31 18:24] iguryanov opened #70 "Earlycon fails to initialize on arcv2 properly if uncached region is below default 0xc0000000"
Hi,

I've got a complaint about missing boot output (at least with 5.10.80 version).
System has UART mapped **0xac002000**, and "earlycon=uart8250,mmio32,**0xac002000**,115200n" boot args don't help.

default perip_base is set to ARC_UNCACHED_ADDR_SPACE, i.e. 0xc0000000
That value is updated to actual value from BCR quite late in setup_arch() -> setup_processor() -> read_arc_build_cfg_regs() -> re

[2022-02-01 08:25] VVIsaev commented on #70
Hi @iguryanov ,

We definitely can configure peripheral space before earlycon initialization, no problem here.

Point is that this configuration is not officially supported, see HS4x databook _D.2.3.5 Total Size of External Memory Supported_:
[code]

This change will require some work to make sure that kernel space does not cross this new bigger peripheral space and it can take some time to make s

[2022-02-01 08:50] iguryanov commented on #70
Hi @VVIsaev,

that quote is reflecting Linux kernel implementation existed long time ago. Vineet and I worked on that section to help customers configure ARC core in Architect in some suitable way for the kernel - make sure needed extensions present, most efficient options used, etc.

So customer just ignored that piece...

We also wrote that for HS3x - at that time hardware did not support Limit

[2022-02-01 09:17] VVIsaev commented on #70
The workaround looks good to me.

I don't want to make such change because current implementation matches databook. With this change more customers will think that this configuration is supported, which is not true. So if it is OK for customer to apply the patch, lets do this.

If you think it is useful for other customers to move peripheral space below 0xc000_0000, we can add support for this. I'

[2022-02-01 09:31] iguryanov commented on #70
Databook says it for historical reasons (best reasonable performance) - we just did such implementation long time ago to make sure kernel has enough space. This is not hardware limitation - we (kernel developers) just imposed it on users long time ago
In reality nothing stops volatile region to start even from 0x90000000... even 256mb might be enough for some users.

[2022-03-03 07:29] joshualin-petaio opened #73 "use openamp on HS CPU base on linux"
Hi,

We need to use openamp on HS CPU base on linux to communicate with others CPU.
Now we can run the linux.
How can I import the openamp and use it ?
Does there have document or something else can help me ?

Joshua

[2022-03-10 19:40] xuehua opened #78 "How to enable eBPF support on HS36 dual core SMP?"
Hi Could you help me enable BPF support on Arc Linux on HS36 dual-core SMP. Thanks

[2022-04-04 10:14] shahab-vahedi opened #83 "Possible race condition in the Linux kernel"
After the commit [Fixed issue related to Zephyr](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/commit/2625a6fb) in QEMU, I've noticed my linux image is behaving weirdly. At random points in time, usually within the first minute, it starts spinning. Sometimes it's during the boot, sometimes a user application (specially if they call the `sleep` function).

I have to say, I've looked

[2022-04-04 10:21] cupertinomiranda commented on #83
I don't see it as a tentative issue, but rather as a placeholder for an investigation why the kernel is currently locking in QEMU.
My perception is that there might be some race in timers / interrupts within the kernel.

[2022-04-05 00:04] cxh2022 opened #84 "SPI flash support in Arc Linux kernel"
Our hardware has SPI flash and we are enabling SPI flash support in Arc Linux kernel.  Do you have any document on how to do this? Thanks.

[2022-04-08 19:22] abrodkin commented on #84
What you're asking about is a very generic thing and explanations on how that could be done you may find in multiple places.
Basically you need to enable corresponding subsystems, components & drivers in the Linux kernel configuration an also "describe" your hardware in so-called "device tree".

For your reference here's an example of how we did that for our HSDK platfrom:
1. Add DW SPI controller

[2022-04-11 18:58] cxh2022 commented on #84
Thanks for the info! It's very helpful. Will looking into it.

[2022-04-11 18:58] #84 closed, assigned to nobody

[2022-04-15 16:34] geomatsi opened #87 "ARC: BTF generation failure: no support for complex types"
Kernel build fails when CONFIG_DEBUG_INFO_BTF configuration option is enabled:

[code]

This issue can be reproduced for ARCv2 and ARCv3 (32bit and 64bit). Version of pahole tool:

[code]

Temporary workaround is available: see https://github.com/foss-for-synopsys-dwc-arc-processors/linux/pull/85/commits/b3f0ecc3df0d61265cb4550397fe922754d0f546.

The root cause is in Dwarf complex/float types avai

[2022-04-15 16:48] geomatsi opened #88 "ARCv3: BTF generation failure: invalid unit tag type"
Kernel build fails for HS6x (ARCv3 64-bit) configuration with enabled CONFIG_DEBUG_INFO_BTF even if workaround from https://github.com/foss-for-synopsys-dwc-arc-processors/linux/issues/87 is applied:

[code]

Quick hack for pahole to workaround the issue and to generate [possibly invalid] BTF in order to try out BPF on HS6x:

[code]

Root cause: TBD

[2022-04-25 21:12] abrodkin opened #92 "arc_pmu_device_probe: BUG: using smp_processor_id() in preemptible [00000000] code: swapper/0/1"
With enabled `CONFIG_DEBUG_PREEMPT` the following stack-trace gets printed on SMP ARC platforms with performance counters interrupts:
[code]

That happens because of use of `this_cpu_ptr()` in https://elixir.bootlin.com/linux/v5.17/source/arch/arc/kernel/perf_event.c#L811 without explicitly disabled preemption, see https://www.kernel.org/doc/html/latest/core-api/this_cpu_ops.html#special-operation

[2022-04-27 08:15] abrodkin opened #93 "[ARCv2, eBPF] libbpf: BTF loading error: -22"
With current implementation of eBPF for ARCv2 processors on execution of some tests the following message appears:
[code]

The target eBPF application gets executed as expected, but that message is a bit annoying.
Would be good to get to the bottom of it and have a clean execution.

[2022-05-25 14:13] kokas-a commented on #92
Suggested fix located here: http://lists.infradead.org/pipermail/linux-snps-arc/2022-May/005952.html

[2022-09-05 12:29] wimowa opened #94 "Linux 5.18.7 oops when set CONFIG_ARC_HAS_PAE40=y"
Hi pals,

Sorry to bother you.
Our dts file config memory as:
    memory@80000000 {
        #address-cells = <2>;
        #size-cells = <2>;
        device_type = "memory";
            reg = <0x0 0x80000000 0x0 0x40000000    /* 1 GB low mem */
                   0x1 0x00000000 0x0 0x40000000>;  /* 1 GB highmem */
   };

For Linux 5.6.13 with the following Configs:
CONFIG_PHYS_ADDR_T_64BIT=y
CONFIG

[2022-09-05 12:41] wimowa commented on #94
By the way, when I disable PAE40, Linux5.18 also work well....

[2022-09-06 22:42] wimowa commented on #94
Hi pals,
I have found the root cause.
Just need to set the descending as TRUE in function: free_area_init(~) for our case.
Sorry to bother.

Best Regards,
sophie

[2022-09-06 22:42] #94 closed, assigned to nobody

[2022-09-06 23:27] abrodkin commented on #94
@wimowa do you mean the following change?
[code]

[2022-09-07 00:05] abrodkin commented on #94
@wimowa there's something wrong!

First of all, could you please double-check your .dts and preferably paste here its memory nodes description completely?
From your initial message I see that:
[code]
and
[code]

To me it looks like you commented out PAE's memory node.
Try this:
[code]
and let me know if it works better for you.

That's what I see on my side:
[code]
Note populated `HighMem` zone!

[2022-09-07 00:12] wimowa commented on #94
Hi abrodkin,
Sorry for the dts typo.
This is the right setting:
    memory@00000000 {
        #address-cells = <2>;
        #size-cells = <2>;
        device_type = "memory";
		    reg = <0x0 0x80000000 0x0 0x40000000	/* 1 GB low mem */
		           0x0 0x00000000 0x0 0x40000000>;	/* 1 GB highmem */
    };

    For 0x0000-0000 ~ 0x4000-0000: user mode used.
    For 0x8000-0000 ~ 0xC000-0000: kerne

[2022-09-07 00:27] abrodkin commented on #94
@wimowa could you please post very beginning of the boot log?
It should look something like that:
[code]

Also may I see your kernel's config option `CONFIG_ARC_BUILTIN_DTB_NAME`? You may get it with:
[code]

And then matching `.dts` file. I'm afraid that you might be using wrong .dts file which has no additional node for PAE region.

[2022-10-21 09:52] abrodkin opened #95 "perf compilation fails on systems with host GCC below v5.2.0"
On attempt to cross-compiler `perf` utility of Linux kernel sources in a range from v5.15 to v6.0 the following happens on CentOS 7.x machines (there host GCC is of version 4.8.5):
[code]

That happens because `tools/perf/pmu-events/jevents.c` (JSON events parser) gets compiled by `HOSTCC` (and that's not a bug - it's by design).

Before the Linux kernel v5.15 there used to be a work-around for ol

[2022-10-21 09:53] #95 closed, assigned to abrodkin

[2022-11-08 07:29] joshualin-petaio opened #96 "How to setup uart IRQ mask by specific memory address ?"
Hi,

Does there have suitable method to add uart mask setup process in linux kernel ? Because our uart have additional IRQ mask need to set. This IRQ mask not in uart register set. It is in a specific memory address. So, how can I add this setup process in linux kernel ?

Thanks, Joshua

[2022-11-08 09:45] abrodkin commented on #96
@joshualin-petaio could you please be a bit more specific on which particular feature of which peripheral you're talking about?
Is that related to Synopsys DesignWare APB UART and some of its registers or it's about something else?

[2022-11-08 15:39] joshualin-petaio commented on #96
Hi Alexey,

Thank you for your reply.
My question is there has an additional IRQ mask register outside the uart setting register: "uart0: serial@ac002000" in device tree. The IRQ mask is at address 0xafe00024. It seems can't not use kernel uart driver directly.
I found it seems can setup in additional platform.c like platform.c under /arch/arc/plat-hsdk. Is this an appropriate method ?

Thanks, Jo

[2022-11-10 06:27] abrodkin commented on #96
@joshualin-petaio if that "mask register" is indeed not a part of UART IP block then you have 2 options:
1. Do a one-time setting in your platform code. Note, "arch/arc/plat-hsdk" is only meant to be used for ARC HSDK board, and for your platform or board you should use your own files and folders to not get in trouble due to settings done in code which are not compatible with your own platform.
2.

[2022-11-10 06:31] joshualin-petaio commented on #96
Hi Alexey,

I tried the method 1 and it works fine on our FPGA. Thank you very much for you suggestions.

Thanks, Joshua

[2022-11-10 06:32] #96 closed, assigned to abrodkin